* {
    margin: 0;
    box-sizing: border-box;
}

%container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #141414;
}

._container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #141414;

    &__content {
        padding-top: 68px;
        height: 100vh;
    }
    &__container {
        display: flex;
        height: calc(100vh - 68px);

        @extend %container;
        padding: 0;
    }
    &__left-space {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        width: 70%;
        height: inherit;
        background-color: red;
    }
    &__img {
        position: absolute;
        width: 100%;
        height: calc(100% - 68px);
        top: 0;
        left: 0;
        object-fit: cover;
    }
    &__soc-net {
        height: 68px;
        width: 100%;
        background-color: #ffffff;
    }
    &__right-space {
        position: relative;
        width: 30%;
        height: inherit;
        background-color: #141414;
    }
    &__bg-block {
        position: absolute;
        bottom: 0;
        right: 55px;
        width: 489px;
        height: 329px;
        background-color: #99823D;
    }
}

.soc-net {
    display: flex;
    align-items: center;
    padding-left: 10px;

    &__list {
        display: flex;
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__link {
        padding: 6px;
        letter-spacing: 0.25em;
        line-height: 3.09em;
        font-size: 0.68rem;
        text-decoration: none;
        color: #000000;
    }
}

.menu {
    position: absolute;
    top: 0;
    width: 100%;
    
    &__container {
        display: flex;

        @extend %container;
        padding-left: 0;
    }
    &__body {
        width: 100%;
        height: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-img {
        width: 190px;
        height: 49px;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 470px;
        height: 136px;
        background-color: #99823D;
    }
    &__list {
        display: flex;
        gap: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__link {
        padding: 6px;
        letter-spacing: 0.25em;
        line-height: 3.09em;
        font-size: 0.68rem;
        text-decoration: none;
        color: #ffffff;
    }
    &__architecture {
        display: flex;
        gap: 5px;
        margin-left: 35px;
        color: #ffffff;
    }
    &__text-arc {
        color: rgba(#ffffff, 0.75);
        margin-top: 2px;
        line-height: 1.7em;
        font-size: 0.5625rem;
    }
    &__text-mw {
        line-height: 1.7em;
        font-size: 0.625rem;
    }
}

.slides-body {
    position: relative;
    height: 400px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    user-select: none;
    margin-bottom: 1em;

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    &__slide {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transition: opacity 0.25s;
        opacity: 0;
        z-index: -999;
        font-size: 40px;
        box-sizing: border-box;
        background: #333;
        color: #fff;
    }
}

.constrols {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    &__swipe {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        position: absolute;
        width: 200px;
        z-index: 999;
        opacity: 1;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
}

.slides-body__slide:nth-of-type(1) {
    background: red;
}

.slides-body__slide:nth-of-type(2) {
    background: orange;
}

.slides-body__slide:nth-of-type(3) {
    background: green;
}

.slides-body__slide:nth-of-type(4) {
    background: blue;
}

.slides-body__slide:nth-of-type(5) {
    background: purple;
}

.indicators {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 30px;
    justify-content: center;
    gap: 0.5em;
}

.indicators__indicator {
    background-color: #cccccc;
    display: block;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 2px;
    min-width: 75px;
    text-align: center;
    user-select: none;
}

.indicators__indicator.active {
    background-color: red;
    color: #000000;
}

.active {
    opacity: 1;
    z-index: 0;
}

.-left {
    left: 0;
    height: 100%;
}

.-right {
    right: 0;
    height: 100%;
}
.-left:hover, .-right:hover  {
    background-color: rgba(hsl(0, 0%, 0%), 0.15);
}

.-pause {
    opacity: 0;
    font-size: 80px;
    width: 150px;
    height: 150px;
    transition: 0.3s ease-in-out;
}
.-pause:hover {
    opacity: 1;
}


